<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考试项目列表</title>
</head>

<body>
    <div>
        <h1>这是考试项目列表页面</h1>
        <ol style = "list-style:none">
            {% for eachExam in examList %}
            <li>
                {{ eachExam.id }}  {{ eachExam.name }} {{ eachExam.examMethod }}  {{ eachExam.date }} 
                {% ifequal eachExam.examMethod '笔试' %}
                    <a href="/mvc/setPrintService/{{ eachExam.id }}/"><input type="button" value='准考证打印设置'></a>
                {% else %}
                    <a href="/mvc/setPrintService/{{ eachExam.id }}/"><input type="button" value='通知书打印设置'></a>
                {% endifequal%}
            </li>
            {% endfor %}
        </ol>
    </div>
    <div>
        {% include 'control/pagebar.html' %}
    </div>
</body>

</html>