<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script ></script>
    <title>打印设置页面</title>
    <script type="text/javascript" src="../../../static/tiny_mce/themes/advanced/editor_template.js"></script>
    
</head>

<body>
    <div>当前考试名称: {{currentExam.name}} &nbsp;&nbsp;考试形式:{{currentExam.examMethod}}
        <a href="/mvc/download/1/"><input type="button" value='数据模板下载'></a></div>
    <div>
        最新导入的数据文件: 
        {% ifequal lastFile 'none' %}
            未导入数据文件！
        {% else %}
            {{ lastFile.name }} 导入时间: {{ lastFile.time }} 
        {% endifequal %}
    </div>
    
    <form enctype="multipart/form-data" action="upload/{{currentExam.id}}" method="post">
        {% csrf_token %}
        <p><input type="file" name="file"><input type="submit" name="上传文件"></p>
        
    </form>
    
    <div>
        <form action = "savePrintForm/{{currentExam.id}}" method = "post">
            {% csrf_token %}
            <fieldset>
                <legend>打印设置: </legend>
                    {{ printForm.as_p }}
                    <input type = "submit", value = "submit" />
            </fieldset>
        </form>
    </div>
</body>

</html>